.body_backgorund 
{
background-image:url(C86template-main_hOye.gif);
background-position:center;
background-size:cover;
}
#myCanvas
{
border-width:10px;
background-image:("C86template-main_BrithdayImage.jpg");
border-style:ridge;
border-color:darkviolet;
}

